
  .hoverArrow--container{
    animation-name: ArrowNext;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    position: absolute;
    bottom: 0px;
    left: 45%;
    z-index: 1000;
}
.hoverArrow--top--container{
    z-index: 1000;
  animation-name: ArrowUp;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  position: fixed;
  bottom: 5px;
  right: 2.5em;
}
.down{
         
    display: block;
  width: 55px;
  height: 55px;
  border-bottom: 2px solid #66fcf2a1;
  border-right: 2px solid #66fcf2a1;
  transform: rotate(45deg);
}
.up{
  display: block;
  width: 35px;
  height: 35px;
  border-bottom: 2px solid #66fcf2a1;
  border-right: 2px solid #66fcf2a1;
  transform: rotate(-130deg);

}
